<div class="pirate">
  <h1>Pirate</h1>
  <p>Name: <%= params[:pirate][:name] %></p>
  <p>Weight: <%= params[:pirate][:weight] %></p>
  <p>Height: <%= params[:pirate][:height] %></p>
</div>

<!--
<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
-->
<% params[:pirate][:ships].each_with_index do |ship,i| %>
  <div class="ship">
    <h2>Ship <%= i+1 %></h2>
    <p>Name: <%= ship[:name] %></p>
    <p>Type: <%= ship[:type] %></p>
    <p>Booty: <%= ship[:booty] %></p>
  </div>
<% end %>
